*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
}
body{
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    padding-top: 15px;
    border: 5px solid black;
}
.exercicio{
    display: flex;
    width: 100%;
    justify-content: left;
    align-content: center;
    padding: 1rem;
    font-size: 32px;
}
.materia{
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 1rem;
}
.notas{
    display: flex;
    width: 60%;
    min-height: 100%;
    background-color: darkgray  ;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    justify-content: left;
}
.explicacao{
    font-size: 16px;
}
